body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-sen: Sen;
    --font-montserrat: Montserrat;
  
    /* font sizes */
    --font-size-21xl: 40px;
    --font-size-5xl: 24px;
    --font-size-6xl: 25px;
    --font-size-lgi: 19px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
  
    /* Gaps */
    --gap-139xl: 158px;
    --gap-71xl: 90px;
    --gap-69xl: 88px;
  
    /* Paddings */
    --padding-5xl: 24px;
    --padding-xl: 20px;
    --padding-11xs: 2px;
    --padding-6xs: 7px;
    --padding-sm: 14px;
    --padding-smi: 13px;
  
    /* Border radiuses */
    --br-31xl: 50px;
  }