.summer-sale-for2 {
    width: 474px;
    position: relative;
    line-height: 21px;
    display: inline-block;
    height: 18px;
    flex-shrink: 0;
  }
  .shopnow2 {
    position: relative;
    text-decoration: underline;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
  }
  .english-container,
  .frame-parent12,
  .summer-sale-for-all-swim-suits-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 8px;
  }
  .english-container,
  .frame-parent12 {
    justify-content: center;
    gap: 0 5px;
  }
  .frame-parent12 {
    position: absolute;
    top: 12px;
    right: 136px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 231px;
  }
  .exclusive4,
  .top-header2 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .top-header2 {
    background-color: var(--button);
    width: 1440px;
    height: 48px;
    overflow: hidden;
    font-size: var(--title-14px-regular-size);
    color: var(--text);
  }
  .exclusive4 {
    letter-spacing: 0.03em;
    line-height: 24px;
  }
  .logo4 {
    width: 118px;
    position: relative;
    height: 24px;
  }
  .home2 {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 24px;
  }
  .header11,
  .header12 {
    width: 48px;
    position: relative;
    height: 24px;
  }
  .header12 {
    width: 66px;
  }
  .sign-up2 {
    position: absolute;
    top: 0;
    left: -4.92%;
    line-height: 24px;
  }
  .header14 {
    width: 61px;
    position: relative;
    height: 24px;
  }
  .header-container,
  .logo-parent2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header-container {
    gap: 0 48px;
    text-align: center;
    font-size: var(--title-16px-regular-size);
    font-family: var(--title-14px-regular);
  }
  .logo-parent2 {
    gap: 0 160px;
  }
  .what-are-you2 {
    position: relative;
    line-height: 18px;
    opacity: 0.5;
  }
  .what-are-you-looking-for-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 34px;
  }
  .search-component-set2 {
    border-radius: var(--br-9xs);
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-6xs) var(--padding-xs) var(--padding-6xs)
      var(--padding-xl);
  }
  .wishlist-icon2 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .cart1-with-buy2,
  .user-icon2,
  .wishlist-icon2 {
    width: 32px;
    position: relative;
    height: 32px;
  }
  .user-icon2 {
    border-radius: 47px;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
  }
  .header10,
  .search-component-set-container,
  .wishlist-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 16px;
  }
  .header10,
  .search-component-set-container {
    justify-content: flex-start;
    gap: 0 24px;
    font-size: var(--title-12px-medium-size);
    font-family: var(--title-14px-regular);
  }
  .header10 {
    position: absolute;
    top: 88px;
    left: 135px;
    gap: 0 130px;
    font-size: var(--heading-24px-bold-size);
    font-family: var(--heading-110px-medium);
  }
  .account-child {
    position: absolute;
    top: 142px;
    left: 0;
    width: 1440px;
    height: 0;
  }
  .account5 {
    position: relative;
    line-height: 21px;
    opacity: 0.5;
  }
  .roadmap-child5 {
    width: 6px;
    position: relative;
    height: 11.7px;
    object-fit: contain;
  }
  .nothing9,
  .roadmap-child6 {
    position: relative;
    display: none;
  }
  .roadmap-child6 {
    width: 6px;
    height: 11.7px;
    object-fit: contain;
  }
  .nothing9 {
    width: 55px;
    line-height: 21px;
  }
  .roadmap2 {
    position: absolute;
    top: 222px;
    left: 135px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 12px;
    font-size: var(--title-14px-regular-size);
  }
  .outfitgenie {
    color: var(--button2);
  }
  .welcome-outfitgenie {
    position: absolute;
    top: 222px;
    left: 717px;
    font-size: var(--title-14px-regular-size);
    line-height: 21px;
  }
  .manage-my-account,
  .my-orders,
  .my-wishlist {
    position: absolute;
    top: 323px;
    left: 135px;
    line-height: 24px;
    font-weight: 500;
  }
  .my-orders,
  .my-wishlist {
    top: 475px;
  }
  .my-wishlist {
    top: 587px;
    display: inline-block;
    width: 93px;
    height: 23px;
  }
  .address-book,
  .my-profile {
    position: relative;
    line-height: 24px;
  }
  .my-profile {
    color: var(--button2);
  }
  .address-book {
    opacity: 0.5;
  }
  .my-profile-parent,
  .my-returns-parent {
    position: absolute;
    top: 363px;
    left: 170px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px 0;
  }
  .my-returns-parent {
    top: 515px;
  }
  .edit-your-profile {
    position: absolute;
    top: 40px;
    left: 80px;
    font-size: var(--title-20px-medium-size);
    line-height: 28px;
    font-weight: 500;
    color: var(--button2);
  }
  .first-name {
    position: relative;
    line-height: 24px;
  }
  .place-to-info-box4 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    background-color: var(--secondary);
    overflow: hidden;
  }
  .md4 {
    position: absolute;
    top: 13px;
    left: 16px;
    line-height: 24px;
    opacity: 0.5;
  }
  .placebox-info4 {
    width: 330px;
    position: relative;
    height: 50px;
  }
  .first-name-parent,
  .frame-parent13,
  .frame-parent14 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px 0;
  }
  .frame-parent13,
  .frame-parent14 {
    position: absolute;
    top: 84px;
    left: 80px;
    flex-direction: row;
    gap: 0 50px;
  }
  .frame-parent14 {
    top: 190px;
  }
  .placebox-info8 {
    width: 710px;
    position: relative;
    height: 50px;
  }
  .frame-parent15 {
    position: absolute;
    top: 296px;
    left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px 0;
  }
  .view-all-products2 {
    position: relative;
    line-height: 24px;
    font-weight: 500;
  }
  .button2,
  .cancel-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .button2 {
    border-radius: var(--br-9xs);
    background-color: var(--button2);
    justify-content: center;
    padding: var(--padding-base) var(--padding-29xl);
    color: var(--text);
  }
  .cancel-parent {
    position: absolute;
    top: calc(50% + 219px);
    right: 80px;
    justify-content: flex-start;
    gap: 0 32px;
  }
  .edit-your-profile-parent {
    position: absolute;
    top: 323px;
    left: 435px;
    border-radius: var(--br-9xs);
    background-color: var(--bg);
    box-shadow: var(--categogy-5);
    width: 870px;
    height: 630px;
    overflow: hidden;
  }
  .underline-icon4 {
    width: 1440px;
    position: relative;
    max-height: 100%;
    opacity: 0.5;
  }
  .icon-copyright2 {
    width: 20px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-wrapper2,
  .icon-copyright-container,
  .underline-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .icon-copyright-container {
    gap: 0 6px;
  }
  .frame-wrapper2,
  .underline-container {
    opacity: 0.6;
  }
  .underline-container {
    position: absolute;
    top: 376px;
    left: 0;
    flex-direction: column;
    gap: 16px 0;
    opacity: 0.4;
  }
  .subscribe2 {
    position: relative;
    font-size: var(--title-20px-medium-size);
    line-height: 28px;
    font-weight: 500;
    font-family: var(--title-14px-regular);
  }
  .enter-your-email2,
  .get-10-off2 {
    position: relative;
    line-height: 24px;
  }
  .get-10-off2 {
    font-size: var(--title-16px-regular-size);
    font-family: var(--title-14px-regular);
  }
  .enter-your-email2 {
    opacity: 0.4;
  }
  .frame-parent17,
  .send-mail2 {
    display: flex;
    justify-content: flex-start;
  }
  .send-mail2 {
    width: 217px;
    border-radius: var(--br-9xs);
    border: 1.5px solid var(--text);
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-base);
    gap: 0 32px;
    font-size: var(--title-16px-regular-size);
    font-family: var(--title-14px-regular);
  }
  .frame-parent17 {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px 0;
    font-size: var(--heading-24px-bold-size);
    font-family: var(--heading-110px-medium);
  }
  .support2 {
    position: relative;
    line-height: 28px;
    font-weight: 500;
  }
  .bijoy-sarani-dhaka2 {
    width: 175px;
    position: relative;
    line-height: 24px;
    display: inline-block;
  }
  .bijoy-sarani-dhaka-dh-1515-container,
  .support-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .bijoy-sarani-dhaka-dh-1515-container {
    gap: 16px 0;
    font-size: var(--title-16px-regular-size);
  }
  .support-container {
    gap: 24px 0;
  }
  .my-account2 {
    position: relative;
    line-height: 24px;
    cursor: pointer;
  }
  .save-3-with2 {
    position: relative;
    line-height: 18px;
    font-weight: 500;
    opacity: 0.7;
  }
  .qr-code-icon2 {
    width: 80px;
    position: relative;
    height: 80px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .appstore-icon2,
  .googleplay-icon2 {
    width: 110px;
    position: relative;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .appstore-icon2 {
    object-fit: cover;
  }
  .googleplay-container,
  .save-3-with-app-new-user-only-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px 0;
  }
  .save-3-with-app-new-user-only-container {
    gap: 8px 0;
    font-size: var(--title-12px-medium-size);
  }
  .frame-parent16,
  .icon-facebook-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 24px;
  }
  .frame-parent16 {
    position: absolute;
    top: 80px;
    left: 135px;
    justify-content: center;
    gap: 0 87px;
    font-size: var(--title-20px-medium-size);
    color: var(--text);
  }
  .footer2 {
    position: absolute;
    top: 1093px;
    left: 0;
    background-color: var(--button);
    width: 1440px;
    height: 440px;
    overflow: hidden;
    color: var(--bg);
  }
  .user-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 16px;
  }
  .icon-mallbag {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .my-order {
    position: relative;
    line-height: 21px;
  }
  .icon-logout,
  .icon-reviews {
    width: 24px;
    position: relative;
    height: 24px;
  }
  .icon-logout {
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
  }
  .frame-parent20 {
    position: absolute;
    top: 18px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 13px 0;
  }
  .account-dropdown {
    position: absolute;
    height: 100%;
    width: 99.56%;
    top: 0;
    right: 0.44%;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    background-color: var(--button2);
    backdrop-filter: blur(150px);
    overflow: hidden;
  }
  .account-dropdoen {
    position: absolute;
    top: 142px;
    left: 1083px;
    width: 225px;
    height: 208px;
    text-align: center;
    font-size: var(--title-14px-regular-size);
    color: var(--text);
  }
  .account4 {
    width: 100%;
    position: relative;
    background-color: var(--bg);
    height: 1533px;
    text-align: left;
    font-size: var(--title-16px-regular-size);
    color: var(--button);
    font-family: var(--title-14px-regular);
  }
  