.summer-sale-for6 {
    width: 474px;
    position: relative;
    line-height: 21px;
    display: inline-block;
    height: 18px;
    flex-shrink: 0;
  }
  .shopnow6 {
    position: relative;
    text-decoration: underline;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
  }
  .summer-sale-for-all-swim-suits-parent4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 8px;
  }
  .english6 {
    position: relative;
    line-height: 21px;
  }
  .dropdown-icon6 {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .english-parent4,
  .frame-parent47 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 5px;
  }
  .frame-parent47 {
    position: absolute;
    top: 12px;
    right: 136px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 231px;
  }
  .exclusive12,
  .top-header6 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .top-header6 {
    background-color: var(--text2);
    width: 1440px;
    height: 48px;
    overflow: hidden;
    color: var(--text);
  }
  .exclusive12 {
    letter-spacing: 0.03em;
    line-height: 24px;
  }
  .logo12 {
    width: 118px;
    position: relative;
    height: 24px;
  }
  .home6 {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 24px;
  }
  .header31,
  .header32 {
    width: 48px;
    position: relative;
    height: 24px;
  }
  .header32 {
    width: 66px;
  }
  .sign-up7 {
    position: absolute;
    top: 0;
    left: -4.92%;
    line-height: 24px;
  }
  .header34 {
    width: 61px;
    position: relative;
    height: 24px;
  }
  .header-parent4,
  .logo-parent10 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header-parent4 {
    gap: 0 48px;
    text-align: center;
    font-size: var(--title-16px-regular-size);
    font-family: var(--title-14px-semibold);
  }
  .logo-parent10 {
    gap: 0 160px;
  }
  .what-are-you6 {
    position: relative;
    line-height: 18px;
    opacity: 0.5;
  }
  .what-are-you-looking-for-parent4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 34px;
  }
  .search-component-set6 {
    border-radius: var(--br-9xs);
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-6xs) var(--padding-xs) var(--padding-6xs)
      var(--padding-xl);
  }
  .vector-icon21 {
    position: absolute;
    height: 56.25%;
    width: 62.5%;
    top: 21.88%;
    right: 18.75%;
    bottom: 21.88%;
    left: 18.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .ellipse-div {
    position: absolute;
    height: 94.12%;
    width: 100%;
    top: 5.88%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--button2);
  }
  .div25,
  .group-div {
    position: absolute;
    top: 0;
  }
  .div25 {
    height: 100%;
    width: 43.75%;
    left: 25%;
    line-height: 18px;
    display: inline-block;
  }
  .group-div {
    height: 53.13%;
    width: 50%;
    right: 0;
    bottom: 46.88%;
    left: 50%;
  }
  .wishlist8 {
    width: 32px;
    position: relative;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
  }
  .cart1-icon10 {
    position: absolute;
    height: 75%;
    width: 75%;
    top: 25%;
    right: 21.88%;
    bottom: 0;
    left: 3.13%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .div26 {
    position: absolute;
    height: 100%;
    width: 43.75%;
    top: 0;
    left: 31.25%;
    line-height: 18px;
    display: inline-block;
  }
  .ellipse-parent1 {
    position: absolute;
    height: 53.13%;
    width: 50%;
    top: 3.13%;
    right: 3.13%;
    bottom: 43.75%;
    left: 46.88%;
  }
  .cart1-with-buy6,
  .user-icon7 {
    width: 32px;
    position: relative;
    height: 32px;
  }
  .user-icon7 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .wishlist-parent4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 16px;
    text-align: center;
    color: var(--text);
  }
  .header30,
  .search-component-set-parent4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 24px;
    font-size: var(--title-12px-medium-size);
    font-family: var(--title-14px-semibold);
  }
  .header30 {
    position: absolute;
    top: 88px;
    left: 135px;
    gap: 0 130px;
    font-size: var(--heading-24px-bold-size);
    font-family: var(--heading-110px-medium);
  }
  .cart-child5 {
    position: absolute;
    top: 142px;
    left: 0;
    width: 1440px;
    height: 0;
  }
  .product {
    position: relative;
    line-height: 24px;
  }
  .product-parent {
    position: absolute;
    top: 24px;
    left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 284px;
  }
  .cart-main-section {
    width: 1170px;
    position: relative;
    border-radius: var(--br-9xs);
    background-color: var(--bg);
    box-shadow: var(--categogy-5);
    height: 72px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .div27,
  .div28 {
    position: absolute;
    top: 39px;
    left: 387px;
    line-height: 24px;
  }
  .div28 {
    left: 1063px;
  }
  .drop-up-small-icon {
    object-fit: contain;
  }
  .drop-down-small-icon,
  .drop-up-small-icon {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .drop-up-small-parent,
  .parent1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .parent1 {
    position: absolute;
    top: 6px;
    left: 12px;
    width: 48px;
    flex-direction: row;
    align-items: center;
    gap: 0 16px;
  }
  .quantity1 {
    position: absolute;
    top: 27.5px;
    left: 708.5px;
    border-radius: var(--br-9xs);
    border: 1.5px solid var(--color-gray-200);
    box-sizing: border-box;
    width: 75px;
    height: 47px;
    overflow: hidden;
  }
  .g27cq4-500x500-1-icon1 {
    position: absolute;
    height: 72.22%;
    width: 92.59%;
    top: 14.81%;
    right: 3.7%;
    bottom: 12.96%;
    left: 3.7%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .monitor-cart-small {
    position: absolute;
    top: calc(50% - 27px);
    left: calc(50% - 545px);
    width: 54px;
    height: 54px;
    overflow: hidden;
  }
  .lcd-monitor {
    position: absolute;
    top: 39px;
    left: 114px;
    line-height: 24px;
  }
  .icon-cancel1 {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .cart-section {
    width: 1170px;
    position: relative;
    border-radius: var(--br-9xs);
    background-color: var(--bg);
    box-shadow: var(--categogy-5);
    height: 102px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .parent2 {
    position: absolute;
    top: 6px;
    left: 12px;
    width: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 12px;
  }
  .g92-2-500x500-1-icon1 {
    position: absolute;
    height: 78.15%;
    width: 90.56%;
    top: 11.11%;
    right: 3.89%;
    bottom: 10.74%;
    left: 5.56%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .icon-cancel2 {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    display: none;
  }
  .cart-main-section-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px 0;
  }
  .view-all-products7 {
    position: relative;
    line-height: 24px;
    font-weight: 500;
  }
  .button7,
  .button8 {
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-gray-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base) var(--padding-29xl);
  }
  .button8 {
    cursor: pointer;
  }
  .button-group,
  .frame-parent49 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 757px;
  }
  .frame-parent49 {
    flex-direction: column;
    gap: 24px 0;
  }
  .coupon-code {
    position: absolute;
    top: calc(50% - 12px);
    left: 24px;
    line-height: 24px;
    opacity: 0.5;
  }
  .coupon-code-wrapper {
    width: 300px;
    position: relative;
    border-radius: var(--br-9xs);
    border: 1px solid var(--text2);
    box-sizing: border-box;
    height: 56px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button9,
  .frame-parent50 {
    display: flex;
    flex-direction: row;
  }
  .button9 {
    border-radius: var(--br-9xs);
    background-color: var(--button2);
    align-items: center;
    justify-content: center;
    padding: var(--padding-base) var(--padding-29xl);
    color: var(--text);
  }
  .frame-parent50 {
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0 16px;
  }
  .cart-total {
    position: absolute;
    top: 32px;
    left: 24px;
    font-size: var(--title-20px-regular-size);
    line-height: 28px;
    font-weight: 500;
  }
  .shipping-parent,
  .subtotal-parent {
    left: 24px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .subtotal-parent {
    position: absolute;
    top: 84px;
    display: flex;
    flex-direction: row;
    gap: 0 307px;
  }
  .shipping-parent {
    top: 140px;
    gap: 0 314px;
  }
  .button10,
  .shipping-parent,
  .total-parent {
    position: absolute;
    display: flex;
    flex-direction: row;
  }
  .total-parent {
    top: 196px;
    left: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 335px;
  }
  .button10 {
    top: 236px;
    left: 89px;
    border-radius: var(--br-9xs);
    background-color: var(--button2);
    align-items: center;
    justify-content: center;
    padding: var(--padding-base) var(--padding-29xl);
    color: var(--text);
  }
  .underline-icon15,
  .underline-icon16 {
    position: absolute;
    top: 124px;
    left: 24px;
    max-height: 100%;
    width: 422px;
    opacity: 0.4;
  }
  .underline-icon16 {
    top: 180px;
  }
  .cart-total-parent {
    width: 470px;
    position: relative;
    border-radius: var(--br-9xs);
    border: 1.5px solid var(--text2);
    box-sizing: border-box;
    height: 324px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-parent48,
  .instance-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 173px;
  }
  .frame-parent48 {
    position: absolute;
    top: 323px;
    left: 135px;
    flex-direction: column;
    gap: 80px 0;
    font-size: var(--title-16px-regular-size);
  }
  .underline-icon17 {
    width: 1440px;
    position: relative;
    max-height: 100%;
    opacity: 0.5;
  }
  .icon-copyright6 {
    width: 20px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-wrapper6,
  .icon-copyright-parent4,
  .underline-parent4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .icon-copyright-parent4 {
    gap: 0 6px;
  }
  .frame-wrapper6,
  .underline-parent4 {
    opacity: 0.6;
  }
  .underline-parent4 {
    position: absolute;
    top: 376px;
    left: 0;
    flex-direction: column;
    gap: 16px 0;
    opacity: 0.4;
  }
  .subscribe6 {
    position: relative;
    font-size: var(--title-20px-regular-size);
    line-height: 28px;
    font-weight: 500;
    font-family: var(--title-14px-semibold);
  }
  .enter-your-email6,
  .get-10-off6 {
    position: relative;
    line-height: 24px;
  }
  .get-10-off6 {
    font-size: var(--title-16px-regular-size);
    font-family: var(--title-14px-semibold);
  }
  .enter-your-email6 {
    opacity: 0.4;
  }
  .frame-parent52,
  .send-mail6 {
    display: flex;
    justify-content: flex-start;
  }
  .send-mail6 {
    width: 217px;
    border-radius: var(--br-9xs);
    border: 1.5px solid var(--text);
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-base);
    gap: 0 32px;
    font-size: var(--title-16px-regular-size);
    font-family: var(--title-14px-semibold);
  }
  .frame-parent52 {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px 0;
    font-size: var(--heading-24px-bold-size);
    font-family: var(--heading-110px-medium);
  }
  .support6 {
    position: relative;
    line-height: 28px;
    font-weight: 500;
  }
  .bijoy-sarani-dhaka6 {
    width: 175px;
    position: relative;
    line-height: 24px;
    display: inline-block;
  }
  .bijoy-sarani-dhaka-dh-1515-parent4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px 0;
    font-size: var(--title-16px-regular-size);
  }
  .cart23 {
    position: relative;
    line-height: 24px;
    cursor: pointer;
  }
  .save-3-with6 {
    position: relative;
    line-height: 18px;
    font-weight: 500;
    opacity: 0.7;
  }
  .qr-code-icon6 {
    width: 80px;
    position: relative;
    height: 80px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .appstore-icon6,
  .googleplay-icon6 {
    width: 110px;
    position: relative;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .appstore-icon6 {
    object-fit: cover;
  }
  .googleplay-parent4,
  .save-3-with-app-new-user-only-parent4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px 0;
  }
  .save-3-with-app-new-user-only-parent4 {
    gap: 8px 0;
    font-size: var(--title-12px-medium-size);
  }
  .frame-parent51,
  .icon-facebook-parent4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 24px;
  }
  .frame-parent51 {
    position: absolute;
    top: 80px;
    left: 135px;
    justify-content: center;
    gap: 0 87px;
    font-size: var(--title-20px-regular-size);
    color: var(--text);
  }
  .footer6 {
    position: absolute;
    top: 1303px;
    left: 0;
    background-color: var(--text2);
    width: 1440px;
    height: 440px;
    overflow: hidden;
    font-size: var(--title-16px-regular-size);
    color: var(--bg);
  }
  .account11,
  .roadmap-child9 {
    position: relative;
    opacity: 0.5;
  }
  .account11 {
    line-height: 21px;
  }
  .roadmap-child9 {
    width: 6px;
    height: 11.7px;
    object-fit: contain;
  }
  .nothing13,
  .roadmap-child10 {
    position: relative;
    display: none;
  }
  .roadmap-child10 {
    width: 6px;
    height: 11.7px;
    object-fit: contain;
  }
  .nothing13 {
    width: 55px;
    line-height: 21px;
  }
  .roadmap3 {
    position: absolute;
    top: 222px;
    left: 135px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0 12px;
  }
  .cart22 {
    width: 100%;
    position: relative;
    background-color: var(--bg);
    height: 1743px;
    overflow: hidden;
    text-align: left;
    font-size: var(--title-14px-semibold-size);
    color: var(--text2);
    font-family: var(--title-14px-semibold);
  }
  