.home-child,
.home-item {
  position: absolute;
  top: 0;
  height: 90px;
}
.home-child {
  left: 0;
  background-color: var(--bg);
  width: 1440px;
}
.home-item {
  left: 240px;
  width: 200px;
  object-fit: cover;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--bg);
  width: 150px;
  height: 50px;
}
.trends {
  position: absolute;
  top: 7px;
  left: 24px;
}
.rectangle-parent {
  position: absolute;
  top: 1px;
  left: 500px;
  width: 150px;
  height: 50px;
}
.men,
.rectangle-group {
  position: absolute;
  top: 7px;
  left: 46px;
}
.rectangle-group {
  top: 1px;
  left: 169px;
  width: 150px;
  height: 50px;
  cursor: pointer;
}
.home1 {
  position: absolute;
  top: 9px;
  left: 35px;
  line-height: 100%;
}
.rectangle-container,
.rectangle-icon {
  position: absolute;
  top: 1px;
  left: 0;
  width: 150px;
  height: 50px;
}
.rectangle-icon {
  top: 0;
  border-radius: var(--br-31xl);
}
.vector-parent,
.women {
  position: absolute;
  top: 8px;
  left: 23px;
}
.vector-parent {
  top: 0;
  left: 334px;
  width: 150px;
  height: 50px;
  cursor: pointer;
}
.group-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 650px;
  height: 51px;
}
.image-1-icon,
.rectangle-div {
  position: absolute;
  top: 0;
  height: 50px;
}
.rectangle-div {
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--bg);
  width: 250px;
}
.image-1-icon {
  left: 28px;
  width: 50px;
  object-fit: cover;
}
.div,
.group-div {
  position: absolute;
  top: 10px;
  left: 75px;
}
.group-div {
  top: 1px;
  left: 670px;
  width: 266px;
  height: 50px;
  font-size: var(--font-size-6xl);
}
.group-parent {
  position: absolute;
  top: 24px;
  left: 654px;
  width: 936px;
  height: 51px;
  text-align: center;
}
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--bg);
  width: 200px;
  height: 54px;
  opacity: 0.54;
}
.outfitgenie {
  position: absolute;
  top: 13px;
  left: 20px;
  font-weight: 800;
}
.rectangle-parent1 {
  position: absolute;
  top: 24px;
  left: 438px;
  width: 200px;
  height: 54px;
  text-align: center;
  font-size: var(--font-size-6xl);
}
.ai-based-personal-stylist {
  margin: 0;
}
.ai-based-personal-stylist-container {
  position: absolute;
  top: 429px;
  left: 253px;
  font-size: 50px;
  font-weight: 800;
  display: inline-block;
  width: 705px;
  height: 306px;
}
.illustration-icon {
  position: absolute;
  top: 236px;
  left: 1291px;
  width: 375px;
  height: 472px;
}
.heading,
.let-your-style {
  position: absolute;
  width: 409px;
  height: 56px;
}
.let-your-style {
  top: 0;
  left: 0;
  line-height: 56px;
  display: inline-block;
}
.heading {
  top: 798px;
  left: 1260px;
  font-size: 40px;
  color: #262626;
  font-family: var(--font-sen);
}
.cta-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 350px;
  height: 110px;
}
.get-started {
  position: absolute;
  top: 40px;
  left: 60px;
  line-height: 28px;
  display: inline-block;
  width: 230px;
  height: 30px;
}
.cta {
  position: absolute;
  top: 823px;
  left: 370px;
  width: 350px;
  height: 110px;
  font-size: 35px;
  color: var(--bg);
}
.home-inner {
  position: absolute;
  top: 24px;
  left: 1621px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--bg);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-24px-bold-size);
  color: var(--text2);
  font-family: var(--font-montserrat);
}
